:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(335, 43%, 95%);
    --Medium-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
  }

  body{
      margin: 0;
      font-size: 15px;
  }
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--White);        
  }

  .top__content, .lower__content {
    margin: 0 20px;
  }

  .top__content {
    display: flex;
    flex-direction: column;
    flex: .5;
  }

  h1 {
    text-align: center;
    margin:0 50px;
    padding-top: 10px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: xx-large;
  }
  .topContent__CTA, .topContent__rating {
    flex: 1;
  }
  .topContent__content--style {
      color: var(--Dark-Grayish-Magenta);
      text-align: center;
  }
  .rating--container {
    background-color: var(--Soft-Pink);
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    color: var(--Light-Grayish-Magenta);
    font-weight: 700;
  }

  .rating--stars {
    flex:1;
  }

  .rating__content--style {
      color: var(--Dark-Grayish-Magenta);
  }

  .lowerContent__card--container {
      background-color: var(--Very-Dark-Magenta);
      padding: 20px;
      margin: 15px 0;
      border-radius: 10px;
  }

  .card__upperHalf {
    display: flex;
  }

  .card__image--container {
      height: 10vh;
      display: flex;
      align-items: center;
  }

  .card--imageStyle {
      border-radius: 45px;
      min-height: 40px;
        max-height: 5vh;
  }

  .cardProfile--container {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
  }

  .cardProfile__name--style {
      color: var(--Light-Grayish-Magenta)
  }

  .cardProfile__job--style {
      color: var(--Medium-Pink);
  }

  .card__content--style {
      color: var(--Dark-Grayish-Magenta)
  }


  @media only screen and (min-width: 600px) {
    .top__content {
      flex-direction: row;
    }
    .top__content, .lower__content {
        margin: 0;
    }
    h1, .topContent__content--style {
        text-align: left;
        margin: 0;
        padding-right: 5vw;
    }

    h1 {
        margin-bottom: 20px;
        font-size:xxx-large;
    }
    .rating--container {
        width: 80%;
        display: flex;
        align-content: center;
    }
    .rating__content--style {flex:1;}
    .topContent__rating {
        display: flex;
        flex-direction: column;

    }
    .review-top {
        align-self: flex-start;
    }
    .review-center {
        align-self: center;
    }
    .review-bottom {
        align-self: flex-end;
    }

    .lower__content {
        display: flex;
        justify-content: space-around;
        /* flex:1; */
        max-height: 40vh;
    }

    .lowerContent__card--container {
        margin: 0 10px;
        flex: 1;
        max-height: 38vw;
    }

    .middle-card {
        margin-top: 30px;
    }

    .bottom-card {
        margin-top: 60px;
    }

  }

  @media only screen and (min-width: 700px) {
    .lowerContent__card--container {
        max-height: 215px;
    }
  }

  @media only screen and (min-width: 900px) {
    main {
        width: 90vw;
        margin: auto;
    }

    .lowerContent__card--container {
        max-height: 190px;
    }
  }

  @media only screen and (min-width: 1100px) {
    main {
        width: 70vw;
    }
  }